<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Persona Populations</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <link href="static/style.css" rel="stylesheet">
        <script type="text/javascript">
            var popData = {{ data | safe }};
            var avg_engage = {{ avg_engage | safe }};
            var engage_type = {{ engage_type | safe }};
            var pop_growth = {{ pop_growth | safe }};
            var recfreq = {{ recfreq | safe }};
            var top_items = {{ top_items | safe }};
            var top_campaigns = {{ top_campaigns | safe }};
        </script> 
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">Persona Dashboard</a>
              </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-4">
              <div id="plot"></div>
            </div>
            <div class="col-sm-4">
              <div id="plot2"></div>
            </div>
            <div class="col-sm-4">
              <div id="plot3"></div>
            </div>
        </div>
        <div class="text-center">
            <select onload="val()" onchange="val()" id="Persona">
              <option value="Claire">Claire</option>
              <option value="Dan">Dan</option>
              <option value="Lynn">Lynn</option>
              <option value="Maya">Maya</option>
              <option value="Rey">Rey</option>
            </select>
        </div>
        <div class="row">
            <div class="col-sm-4">
              <div id="plot5"></div>
            </div>
            <div class="col-sm-8">
              <div id="plot4"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <p style="text-align:center;font-size:16px;">Top Items (Last 6 Months)</p>
              <table id="Items">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Engagements</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              <p style="text-align:center;font-size:16px;">Top Inbound Sources (Last 6 Months)</p>
              <table id="Campaigns">
                <thead>
                  <tr>
                    <th>Campaign</th>
                    <th>Individuals</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
        </div>
    </body>
    <script src="static/test.js"></script>
</html>